{namespace qbtools=Qbus\Qbtools\ViewHelpers}

<qbtools:fal object="{f:if(condition: data._LOCALIZED_UID, then: data._LOCALIZED_UID, else: data.uid)}" as="images">
<f:alias map="{bounds: '{qbtools:calculateBounds(images: images)}'}">

	<div class="qbbootstrap-gallery">
		<div id="gallery-{data.uid}" class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-auto="false"
			data-ratio="{bounds.minRatioWidth}/{bounds.minRatioHeight}" data-width="100%">
			<f:for each="{images}" as="image" iteration="i">
			<a href="{f:uri.image(image: image)}"
				<f:if condition="{i.index} == 0">
				style="background-image: url('{f:uri.image(image: image)}')"
				</f:if>
			>
					<f:image image="{image}" height="64"/>
				</a>
			</f:for>
		</div>

		<f:if condition="{images.0}">
		<div class="placeholder">
			<f:image image="{images.0}" class="img-responsive"/>
		</div>
		</f:if>
	</div>

</f:alias>
</qbtools:fal>
