.accordion {
	margin-top:2em; 
	margin-bottom: 2em
}

.accordion-element {
	margin-bottom: 5px;
	border:1px solid #ebebeb;
}

.accordion-header {
	cursor: pointer;
	background: #ebebeb;
	padding: 7px 18px;
	display: block;
	margin: 0;
	position: relative;
}

.accordion-header:hover{
	color:#F39503;
}

.accordion-header:after {
	font-family: 'Glyphicons Halflings';
	content: '\e114';
	font-size: 0.6em;
	position: absolute;
	right:18px;
	top:10px;
}

.accordion-header.accordion-current:after{
	font-family: 'Glyphicons Halflings';
	content: '\e113';
	font-size: 0.6em;
	position: absolute;
	right:18px;
	top:10px;
}


.accordion-header {
	
}

.accordion-content {
	padding: 10px 18px;
}
