<div class="panel-group qbbootstrap-accordion" id="c{data.uid}" role="tablist" aria-multiselectable="true">
	<f:if condition="{children_200}">
		<f:for each="{children_200}" as="child" iteration="i">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="c{child.uid}-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse"
						   id="c{child.uid}"
						   href="#c{child.uid}-body"
						   aria-controls="c{child.uid}-body"
						   {f:if(condition: '{flexFormData.expand_first} && {i.isFirst}', else: 'class="collapsed" aria-expanded="false"')}
						   {f:if(condition: '{flexFormData.no_group}', else: 'data-parent="#c{data.uid}"')}
						>{child.header}</a>
					</h4>
				</div>
				<div id="c{child.uid}-body"
				     role="tabpanel"
				     aria-labelledby="c{child.uid}-heading"
				     class="panel-collapse collapse{f:if(condition: '{flexFormData.expand_first} && {i.isFirst}', then: ' in')}"
				     {f:if(condition: '{flexFormData.no_group}', else: 'data-parent="#c{data.uid}"')}
				>
					<div class="panel-body">
						<f:format.raw>{child.renderedContent}</f:format.raw>
					</div>
				</div>
			</div>
		</f:for>
	</f:if>
</div>
