<f:layout name="Default"/>

<f:section name="Main">
<f:if condition="{children_200}">
	<div id="c{data.uid}" class="carousel slide{f:if(condition: '{flexFormData.css_class}', then: ' {flexFormData.css_class}')}" {f:if(condition: '{flexFormData.auto_animation}', then: ' data-ride="carousel"', else: 'data-interval="false"')}>

		<f:if condition="{flexFormData.indicators}">
			<ol class="carousel-indicators">
				<f:for each="{children_200}" as="child" iteration="i">
					<li data-target="#c{data.uid}" data-slide-to="{i.index}" data-interval="false"{f:if(condition: '{i.isFirst}', then: ' class="active"')}></li>
				</f:for>
			</ol>

		</f:if>

		<div class="carousel-inner">
			<f:for each="{children_200}" as="child" iteration="i">
				<div class="item{f:if(condition: i.isFirst, then: ' active')}">
				    <f:format.raw>{child.renderedContent}</f:format.raw>
				</div>
			</f:for>
		</div>

		<f:if condition="{flexFormData.controls}">
			<a class="left carousel-control" href="#c{data.uid}" role="button" data-slide="prev" data-interval="false">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#c{data.uid}" role="button" data-slide="next" data-interval="false">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</f:if>

	</div>
</f:if>
</f:section>
