<div class="row">
	<div class="col-md-3">
		<f:if condition="{children_201}">
			<f:for each="{children_201}" as="child">
			    <f:format.raw>{child.renderedContent}</f:format.raw>
			</f:for>
		</f:if>
	</div>
	<div class="col-md-6">
		<f:if condition="{children_200}">
			<f:for each="{children_200}" as="child">
			    <f:format.raw>{child.renderedContent}</f:format.raw>
			</f:for>
		</f:if>
	</div>
	<div class="col-md-3">
		<f:if condition="{children_202}">
			<f:for each="{children_202}" as="child">
			    <f:format.raw>{child.renderedContent}</f:format.raw>
			</f:for>
		</f:if>
	</div>
</div>
